header {
  color: white;
  background-color: blue;
  border-radius: 5%;
}
header a:link {
  color: skyblue;
}
header a:visited {
  color: magenta;
}
header a:active {
  color: orange;
}
nav ul, nav ul li {
  display: inline;
  padding-left: 0;
}
nav ul li div {
  display: inline-block;
  width: 19%;
  text-align: center;
  font-size: 1vw;
  font-family: 'Trebuchet MS';
}
nav {
  border: 1px solid black;
}
h1, h2, h3 {
  text-align: center;
}
body {
  background-color: rgb(200, 200, 200);
}
p {
  font-size: 28px;
}